<!DOCTYPE html>
<html>
    <head>
        <title>Webapp</title>
        <title>About</title>
        <link rel=stylesheet href='/css/styles.css'/>
        <script src='/js/app.js'></script>
    </head>
    <body>
        <div class="main-content">
            {{>headers}}
            <p>
                This data is created by Raph by using the Udemy course instructed by Andrew Mead.  The data was provided by <a href='http://mapbox.com'>mapbox</a> and <a href='https://weatherstack.com'>weatherstack</a>.
            </p>
            <img class='portrait' src='./img/me.png'/>
        </div>

        {{>footer}}
    </body>
</html>