<!DOCTYPE html>
<html>
    <head>
        <title>Webapp</title>
        <link rel="stylesheet" href='/css/styles.css'/>
        <link rel="icon" href='/img/weather.png' />
    </head>
    <body>
        <div class='main-content'>
            {{>headers}}

            <p> Use this site to get your weather</p>

            <form>
                <input placeholder='Location'>
                <button>submit</button>
            </form>

            <p id='message1'></p>
            <p id='message2'></p>
        </div>
        
        {{>footer}}
        <script src='/js/app.js'></script>

    </body>


</html>